.notification{
    padding:15px;
    margin:10px;
    color:white;
    display:flex;
    align-items:center;
    border-radius:5px;
    box-shadow: 0 2px 4px  rgba(0,0,0,0.2);
    font-family:sans-serif;
}


.success{
    background-color:#28a745;
}

.warning{
    background-color:#ffc107;
}

.error{
    background-color:#dc3545;
}

.info{
    background-color:#007bff;
}

.close-btn{
   margin-left:5px
}

.top-right{
    position: fixed;
    top:20px;
    right: 20px;
}

.top-left{
    position: fixed;
    top:20px;
    left: 20px;
}

.bottom-right{
    position: fixed;
    bottom:20px;
    right: 20px;
}

.bottom-left{
    position: fixed;
    bottom:20px;
    left: 20px;
}


@keyframes slidein{
    from{
       transform: translateY(100%);
    }
    to{
      transform: translateY(0);
    }
}

@keyframes fadein{
    from{
       opacity: 0;
    }
    to{
      opacity: 1;
    }
}

@keyframes popup{
    from{
       transform: scale(0.5);
       opacity: 0;
    }
    to{
      transform: scale(1);
      opacity: 1;
    }
}

.fadeIn{
    animation: fadein 0.5s;
}

.slideIn{
    animation: slidein 0.5s ease-out;
}

.popUp{
    animation: popup 0.5s ease-out;
}
